<div class="col-md-4">
	<table class="table table-striped">
		<thead>
			<nav>
				<a [routerLink]="['/edit',  friend.id ]" routerLinkActive="active">
					Edit
				</a>
				<a (click)="delete()">Delete</a>
			</nav>



		</thead>

		<tbody>
			<tr>
				<td>Id:</td>
				<td>{{friend.id}}</td>
			</tr>
			<tr>
				<td>Name:</td>
				<td>{{friend.name}}</td>
			</tr>
			<tr>
				<td>Address:</td>
				<td>{{friend.address}}</td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>{{friend.phone}}</td>
			</tr>
		</tbody>

		<tfoot>
			<nav>
				<a [routerLink]="['/details',  prev.id ]" *ngIf="!(index == 0)">
					Prev
				</a>

				<a [routerLink]="['/details',  next.id ]" *ngIf="!(index == totalContacts-1)">
					Next
				</a>
			</nav>
		</tfoot>

	</table>
</div>